version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: batchdb
      POSTGRES_USER: batchuser
      POSTGRES_PASSWORD: batchpass
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  openldap:
    build: ./docker
    ports:
      - "389:389"
    environment:
      LDAP_ORGANISATION: "Test"
      LDAP_DOMAIN: "test.com"
      LDAP_ADMIN_PASSWORD: "admin123"
      LDAP_SKIP_DEFAULT_BOOTSTRAP_LDIF: "false"
      KEEP_EXISTING_CONFIG: "false"
      LDAP_IGNORE_HELPER_ERRORS: "true"
      LDAP_LOG_LEVEL: 256
    command: ["--copy-service","--loglevel", "debug"]
  pushgateway:
    image: prom/pushgateway:latest
    container_name: pushgateway
    ports:
      - "9091:9091"
    restart: unless-stopped
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - "9090:9090"
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin # Changez-le en prod !
    depends_on:
      - prometheus
    restart: unless-stopped

  app:
    build: .
    depends_on:
      - postgres
      - openldap
      - pushgateway
    environment:
      SPRING_PROFILES_ACTIVE: docker
      BATCH_SIMULATE_LOCK: "true"
      MANAGEMENT_METRICS_EXPORT_PUSHGATEWAY_BASE_URL: http://pushgateway:9091
    ports:
      - "8080:8080"

# AJOUTER CETTE SECTION ICI
volumes:
  postgres-data:
  ldap-data:
  ldap-config: